<div *ngIf="(brewery | async) as brewery" id="brewery-container">
    <header>
        <h1>
            {{brewery.name}}
        </h1>
    </header>
    <main>
      <section>
        <div *ngIf="(planned | async) as batches">
          <app-batches [header]="brewery.futureBatches" [batches]="batches"></app-batches>
        </div>
      </section>
      <section>
        <div *ngIf="(completed | async) as batches">
          <app-batches [header]="brewery.presentBatches" [batches]="batches"></app-batches>
        </div>
      </section>
      <section>
        <div *ngIf="(archived | async) as batches">
          <app-batches [header]="brewery.pastBatches" [batches]="batches"></app-batches>
        </div>
      </section>
    </main>
    <footer>
        <div id="brewery-footer-wrapper">
            <div id="brewery-bottom-left">
                <h5>{{brewery.location}}</h5>
            </div>
            <div id="brewery-bottom-middle">
                <h5><a href="mailto:{{brewery.contact}}">{{brewery.contact}}</a></h5>
            </div>
            <div id="brewery-bottom-right">
                <h5>{{brewery.info}}</h5>
            </div>
        </div>
    </footer>
  </div>