<div id="brewery-container">
    <header>
        <h1>
            {{brewery.name}}
        </h1>
    </header>
    <main>
      <section></section>
    </main>
    <footer>
        <div id="brewery-bottom-left">
            <h5>{{brewery.location}}</h5>
        </div>
        <div id="brewery-bottom-middle">
            <h5><a href="mailto:{{brewery.email}}">{{brewery.email}}</a></h5>
        </div>
        <div id="brewery-bottom-right">
            <h5>{{brewery.established}}</h5>
        </div>
    </footer>
  </div>