#brewery-container {
  display: flex; /* displays flex-items (children) inline */
  flex-direction: column; /* stacks them vertically */
  height: 100%; /* needs to take the parents height, alternative: body {display: flex} */
}

main {
  flex: 1; /* takes the remaining height of the "container" div */
  overflow: auto; /* to scroll just the "main" div */
}

section {
  height: 100%; /* takes the visible area of the "main" div */
  overflow: auto; /* recommended */
  background: #585858;
}

header {
	background: #383838;
	text-align: center;
}

footer {
	color: #F5F5F5;
	background: #383838;
}

#brewery-footer-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;
}

#brewery-bottom-left {
	width: 25%;
	text-align: left;
	margin-left: 16px;
}

#brewery-bottom-middle {
	width: 50%;
	text-align: center;
}

#brewery-bottom-right {
	width: 25%;
	text-align: right;
	margin-right: 16px;
}