#brewery-container {
  display: flex; /* displays flex-items (children) inline */
  flex-direction: column; /* stacks them vertically */
  height: 100%; /* needs to take the parents height, alternative: body {display: flex} */
}

main {
	height: 100%;
  flex: 1; /* takes the remaining height of the "container" div */
  overflow: auto; /* to scroll just the "main" div */
  background: #585858;
}

section {
  overflow: auto; /* recommended */
}

header {
	background: #383838;
	text-align: center;
}

footer {
	color: #F5F5F5;
	background: #383838;
}

#brewery-footer-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content:  space-between;
	align-items: stretch;
}

#brewery-bottom-left {
	text-align: left;
	padding-left: 16px;
}

#brewery-bottom-middle {
	text-align: center;
}

#brewery-bottom-right {
	text-align: right;
	padding-right: 16px;
}