<div class="brewery-wrapper">
    <div class="brewery-header">
        <h1>{{brewery.name}}</h1>
    </div>
</div>
<!-- <div id="right" class="column">
    <div class="top-right">
        <h1>{{brewery.name}}</h1>
    </div>
    <div class="bottom"> -->
            <!-- bshux8L8fymsW2jz
9odGIoZm9bFSrxoi
tY1TjyW0w0flSgQ8
Vz9yArBXQVAfjgWY
XDPIlcGLpusCCg1U
3ts015W7xHnH0Z15
Rmw3u2nIeKgRFBbU
akoN5CNRwFeG1Elk
FqmLBS1raHKC5gml
p7SlzQDmgRmbCbta
LUq3nxaroGwHXK34
MEgCNA8MmafXfWIe
4IuQL5hqTi2MO7z2
Mk92EM8fyFpucevl
2Da8VW3MWRFX7tSV
bgzfKuVE4dhc8a2H
oSL8DFZce8Nt9fdj
hMyaeb0fJ9c9U7bO
r83OXOQKHwlCJsL5
RsoSsPPCYA1nQnCx
uWthiu5V0twNFKNp
TDgWosgKFRsrvtQV
fFmYf35UeFxCvsx2
wSE8HgOu5cV8y2X2
l0fxjCeCjHfR8jaf
ZYkYzEczA0qurcjQ
syTo76Sx0KyBywkI
dvaitEgXVK6vdsQu
YzBnHk4EMY5UYpJC
s3BtECKu3wAZtH2G
S1mmDGfV3QDWc1nz
g88FVpaauPuQGE66
bQ54A7n01loewvhu
VlpBvelMOinKjslU
LDG9VJqbidlPT15m
AoNw3MiNOc7YSiIi
nQbhSTLG6JRk4JZJ
tveBvBT88jtZDnzw
XjOIqcOm80BbU5wl
4GtLi69UOZu99hW5
ZyJsBrLpXn125kWz
aDYg76YheMgczQxC
ZBH7eJm0SpxHF3T2
1KhN8jAltKge0hqu
WlzBXmDxq1b2QqGu
Fb9nYbpSRblhRLmP
tkmsL1b0U0o2vOuA
Gtoc27FdXcCGx2U8
ON3ObZFsBHem10sI
Synh4NTNVWTrMFn6
PqlNRumPzS8gN6oy
qNvf0LK2aFbI27gk
Ve7HakzNBLIkbBUy
wXXj3QCYizBC62Qx
ts2P3g5y2y9xcvhE
Ied6u8UIsZIs2vMS
aDCnKByWfyi8FV23
DVZU3pi4wQP66xhi
ikt2iCk734Gd0kgQ
7x0RtUFFjLWqdqjt
i6xPm1Wacb6s76ZO
GgZbF7o68SfJ1AD2
t4n1zltOuZI5fQZv
zP0IpUCDaHG2y73f
aXdoKiG8dcE7u7zp
9qXH5iY4dC3RZaTb
GJyFW4Y1M95jLxr9
yMh2v5eg2A0liXyj
9rnepIpSmYHkPFgU
HMRjvEZB9BRuALBf
MpgVNRM68fkw5PtD
qVCQg4bPTAYOlIOt
gpEMRRXqMWIEWFKb
QqTpHCllnUVj1fH3
R5jUDB6ogToPFBzK
ZxX2F48j5MhD4qS7
Jvyz84vUALei1A5S
3qLm1NuVpBG4FY08
IpvWXVAQRIg6LEos
vY4UsXR7CtgdiEy0
xokm1UdvWUjFCf1L
Uts86u1I503zz8nq
OMK3lkMr4z8o4sCO
iIqjKotTf6qei1TQ
L9ccoIp8u2hPjcuN
5uydYNNnE7TWQI0V
9XbXMr0RlHhhMGjm
9CZY6k4vrmcj4YuK
wo7kGUMIdTjQPpnz
hT82aLMVfhHZF3Jt
yYMaELAjNYGPpFNd
OJk6M92rEnQKW4fm
2jwQhherc8oZNfjW
iGwWyH55kWQ0fjYk
JhghBwUQovFXywZS
BIVWxFfOh8ggTaM3
6yWQFJ1qTOGyhXWO
I8yEedbHAhQrWOgk
vNkRuFMmZ6FW3EWu
tDXqOXRE278cF7x8
Up7HVJbEcTcI2yFa
uXwgEZ4OQYibcyU8
phyzjfWKqzLs1jRm
eFOnaEmwKyc8Y2Fa
Cgr3E9aCr4V4fVQS
xzOcKrk1CseBSqmQ
e6iFqrvYXfis1l6u
ZwPP9pcN5wyV4y96
IXAAWhXyDjP6mZfc
hcZcwcDi2jqBwyde
2QdydLY4GWRpH8Yy
oF4k78zAMg4Fc2Zl
YM9ixX1IBhfvpfUw
ndeIDH79GGH3gi8v
sGWfQ1j2AQfJZ313
fdXxTJQTlaQcqfyv
7iLUc9GixnVCQkgo
OPMCW4CCSI24OK6h
D0jMKp16fK8KEtCZ
YCQW5yhPxguB09R3
jDw8t5Cq6kdkrGHM
MLDhl6OKwxHHwRIp
nVR2DKQLOiirJqDF
QOgnU5CcviI3b3Ef
p6e7dMtsIePSs2Wd
rzIz4pbS7ziXQtpj
PKHWgmvN48IOBDSi
PJzE3uBZPesvJcNs
tL6wrtxMTYCKEFuT
cUPFiGDb1gowr5HS
T4cTeRdyIk0TMGTU
2rOpy9m4iu64TqeL
HdOUkUFucINIlPVY
u5qm7E7EAcm3XCd6
Vr7l9nSPQAsL5xDO
3SjGfczRZM2arFk8
8hNO5kiYcfFcnFYu
D74CSioSyPx1VGnD
9zyGHWqm4HKKSDQV
IpZfHPek0VTbh2oM
1scJx8jGgGsZScFr
t24opG816WA73jvF
n9l2oFxP5LPxsii5
gnKgUfA05r7gejFX
LJNya8zaXG6pMG0t
hrqNVVbAi3Ni8e1i
aAI0safe1JZZNsuY
3MP5tPar66QvgISe
3vqLnkXYSWFkpfow
sGvn5YOYVM4NAju8
8hImXeqr0la8K6kA
OQeSVJZfgU0q5TFN
eBa1FcBEvOJD4k0t
Oqgphe2BN68PbeyC
6to2iBHFHDszunf1
KFE7v0mHxz0zTwWn
iTuekrb0fMQNpBVh
lSSpZigqOzXTOAV4
wxIsJWvjQ5lohAiy
EEUxSkkL1h8Z0ePx
krKe0yOluLF9XFAi
wzXcYK9ksYBm6NqZ
ZCMNWoRi1go6kBsI
GGIVNNJGhFf7BWix
e41mIZ7tRRAPUmNZ
4QqFxdmYobCwUPyP
ZesnCp3HpCY5VuEW
3nstlcEEF6GG4EEJ
PyqkuHNIoI5SPB71
NOpAmaPOFIse1qPn
OF9XqwsDwLtiJiJL
BEUni4kb1cW60xkr
QXKRDwup657gzmx0
0ie9vpVmfMhHJZRh
Xbj9PXa8V2UeRow1
QgCveUnzCdWJxR7R
rY2PhkCc5TshBZNV
SqYbEmYEg9L01sS7
PSi5QiNanHvqg3iz
oASsMMAdWFGkTUm7
fEQti7DiERjX8FWX
XHlCFqPZJHqBpe4U
pLi6L0zpFLy4De4T
vC2tdzU4jxLSq4kY
hLUYH2i0XKXwQB9U
aehiCMNqEhITyzIp
ZjfWMecUqkH4QDnt
4rzh0xsU2X8srX2X
Uc16AZwfPE20Fzbg
vuFCsGZkyPKC2e73
LokpsgOnDzX3USf3
pRnZuz4C6vzPz1FY
hcTwqoTjQ0OgwefE
l3bAb4o1Wyxe50G6
0OeVtZCjW7Q5fAEk
dL2N1ZB0rvFRUGLm
OUH0wVapjQ0MFObp
ElKFXuuzawzhsPx1
Ve1SdNDFkpgCA0em
yz72EE5J0x3supKy
3OV5AX8ml3q6tN9f
tLOVkCTuZYTL9iHx
r7U6vg0m5roG2a9J
do2LklPRzpITHGuq
CYgx4sjURfATeakn
9xroepT0Q4FOkTYn
9rwtpIwJExSKrW9D
MxCRefcrhjpwuAja
z3WkVw2ZpjkP3iZ6
VF7A7NgfvmAk7kM5
LMy47rpvCaM63LFH
4KttNlweRkxpEy9x
QI9KOMBo6V5wzns7
ZeZfIPolDfxhtnXB
7Fch6j7xwRiCFx7t
VvAZIVCOWfGnxPQj
dWix0KyLTAvtrqzB
tdWtzmhhEH6kjhfG
dZnrmt8AMDs4UumH
qlwttOB5UtTAseEj
tDtaFqNmjocMpXsD
8XsRGc57yN6n0VQS
onPt8Q7IFiJaYDax
4KzsWlwTr1Q181S1
hw22h3Z8cTexUyvP
jvCZJaU2XE0MBSOd
YSonRmwTf3tLm853
GoznklXIRGgKsdsp
BtA9LnVanOPNWoSl
uzaRZOiqphVczk6F
viLXM72qFlVslsOJ
lY2gfdg97AIR5Hnc
JW2HOmxoJYHQpZOv
FYwZvxBag4HNMCSw
YmUTshEGjAA1t5zm
VfBNqEg8fDRlxdfF
g5mh634y4waOO6h6
XPrdBdMNq6i01LT9
QmsDz0COkCTZ7d1H
KFxjJni4ULcPrfCv
7g3KlHhPIaHVoRHU
4XIjTcOPpee9P5Po
9PimaEONxqL7Yzdf
GU3LFaFVtr0o5t8O
8Jcce0kJVyoZ2TcN
DHz8GTFX1hMiliSY
ihiJAYZgso1MpBf7
t0Emr0cKotN2qj8N
0XHzNE6ey0AmPiiS
WzOfg60p6kXJaoRB
Ewdmm07tIalITNNr
lTBY7SkcKaqKDPiO
kUCACF606I5W0c45
GWfmyopWmdrRRnaT
wAonsYVV3VmHQHqp
CanF08qUvqdmGs9E
wZtZxpWjTZBlSQjl
Zu80QjFVqyW9iBwm
gS6WT7idlnLBDbED
kDs3HhY66Y1YIWzC
Ix8JGpQPWW3Iihlz
h6J3Nds4XxcaKQ6h
9bDEOxG9zfDrp05H
MdLdNXzpRnEkfPPW
0t6Kd7NPVaYHKt7i
xY0WyQPLx9Uw7K94
5pA91NGmt1vS34h9
uCsHaL0L3IhZVy0T
TIYWZBlTEFEEokzg
V970Au72a57UBR6N
wGfIiuXa11YKKCUl
dqc8wkT2i2iaJiFG
7psI39sKbcQ9QRGP
7pWnJt84jNGusTrs
X9D8j35YRNWCZsmx
wyIkk2P4m6KpJNgu
A9D4UUOsSCs0N48O
yWu1tH92gFyOJUAa
q9UFp7LVJaeBDhab
i7PkrIk25Vk3z97a
NXn9JN3CiG9tMGkZ
IRckSGJR1z9l7lip
ZIh6UvyHu7FOycRs
cmOkLhKsYJpneeag
m853jqxObH5aZZfC
Wubz9gvJJ6A2OSDg
7OI06EQvc7T16vjZ
jVDWOiFJPAfB1ENm
1vZtlMsZVGPTjkGg
bjeCYpwi7enBRQZL
pfSX0iBeBmgxLkhe
pv7pGWDoarlsiW7n
NKbXu6D5SrQJARx3
8992DunCctX19XKe
ac5faeImt86boytX
D6sv0DMzrwGunva2
ZjseXWpv1UbienIb
UGzLQ4S3g9DGQmaG
0AixQDHg988GiGmQ
ZHurR1U5mcqeXVo2
wbhY6NwaPWqhKSJU
5yxtKf3mnyk05o90
uoQFrOmXqXlQVq4z
bKTvx7noAuy3I7JM
HwcnVTN0hWBwsr5w
JL9ZSTGIgzSQ0thK
fs92DOaQSklICuvV
u9fLNy3ZVGR7eIQV
pXHxMnW8JNRJ56mh
uhPeHRlBHpgAclB0
9l2YR3Xij2YIDueS
YWEvIGWnem2y1c21
EhUBeIXEoDDAjPRr
B2fDm4OV8OxN2oFd
3whArR0lgMSe0vvy
czGAfBlgeuyp0HRG
VE8PsDHMZXoUZF6K
AcnFCa0cwKvXvAzE
nBbE0Ib5Aihxh2wP
yMrWDf7CjimDGkHj
ebPKVByrET92nLc4
WNY9Ksdlyud5VOrH
7nFoAlE1At0O4niS
i5FnVfhHWuciNPkJ
2yfu7pRUGiJUWT08
jgyfNi4Uj3Fr1vqv
TDMx4GzNOd5Z8pnx
pTXNlvDmlcmoQjON
o2zA3UpNL1Tzk7HR
h8NjpNSejxUBjKmb
VN4YPXtDV3pH0Vr7
P3HmJA9Ev8yGy6gw
12ta0r8NCP5pVQDR
5qRZHBi4QngMxZPz
CK8Ip5FrvxyvnyDu
5pR0rgdntvMto27U
Ucu9SBXbUjAmXPlf
4KIlliem6dQwMqQR
QKVBuerGUAUnJyAY
FLMvQNsKMuNVa4cq
9gQRkSuXxwtnvUtA
Z9sQs5G9sog70Zpy
wRw0r3jreQcEqSvL
fEocXd4cc4yq8mvG
VJh3RKrBt4uvWAJw
676jCgl6LYaMkpze
RR4AeZyxTmzoKV8f
fJ5T0uMqJKUROgfI
9MYjePagTAJQVWm9
jW82WxuQe0qnmQ2P
Mnrmd55LRO4yQR8Y
X8LcrC9FleTQeB8E
jah5dXMNjEB17QQF
2RGWwqsYYFpfy1XI
Qcgt7KKcXw3cNkH6
Gn27w6yibnhUSd7D
qWoygCNnBu8zucbl
EM1EKCIr0JeEyTRM
XkrfU3emxWjRpI0S
rGTXisncgLlGDzLW
fUKBa3TuJPHB4p3O
GV31iPEP5xiOsldJ
wZcTSrK69bJha3dI
Z3ZoT73FJWd5IIuB
9k6y7ykGWdNJPADM
PRkokNBEH40hSVih
AYI7mpiJoOOhc8nx
2xBwh3ifMhYB33cg
hmRT3ico7n3e0u26
9Qt3jlEaJTodcfnd
uaSs34I9VZPp2QE3
Bqt8Glr5SfIxfqYi
ZYDP1nqm0jPrRpdj
cFYsu1T6MJMyLyxl
Zl3iDt6yZx6vmDXd
152BWXPf4U3EjUPY
tpHL9lefnae6eF7D
hGCSKugaRTzyoX2L
Y1mVaQ0D0MEHVAkD
ezBp1LG2pJNf5ESk
fVhkjgZYfsj5pKZ2
v1TEppiEUCJmkkkF
TzSRoSSEahca2cMP
f5DRIkH2981V930A
YbKQfWDomUTuOikB
9CdTbxL7ZhmWWs7D
7Q47sKYvt7xUsX76
o8OC0EqqScfusuBq
KvIpsNt3ti628f1t
YLuSE7vd9UQLfHgh
PNn1MOu4pQLv7h5w
hi9QQffUcN88SoFZ
OgkGQ2JpxBXu4M5S
m1TBHPEWcysnYkN7
lg9JAVXPwqrNajxH
M2iYXSDGKzWZ8Pmu
X8zb2aJNWgcTE1C9
KxEW53XswSaIWIuw
yZxh5QRkWwAexG2V
bK2F9s2fkzY3dSJK
BuEAUTWrEeYP2hKS
MOvoSytuIf25BjCw
LEAlCashsgjJxFjL
pZmLyjWY3YIUZFab
s3OwZFmD0Y4pDWE1
vYflsxcHPdg4mhAl
brAdfk2y7og9rFpa
OoQvVfrBFlHzRDay
vSjHmddMxphw3Pgd
a7WqjNqXH2yrYHtr
cP4rwIcGwmgdq11a
Uqf4VUO0Enann3AQ
pwGMVmxI0nXYQyNT
cNjG6cS69dyH0eLJ
w4gWT5s5IL00kgim
WlxVlpFY7sNeyqp9
Jbdp6DZrGWfJ5ulW
B5dn6bhx2RAtsB0v
tYsJfncFNEBVPNNV
KihsHCWm8Q6t9Sio
JH3uGb2cLUpWj62A
y6tkY6OX8B2ohfHi
JVfFyfqLjnhy9PD1
MOegzrm8IxuNi2tn
nRZ37yCyLJUATkDF
hl1ZRjG77ZUyYh41
ixMmZj41A6HPh5vB
COZ1jlZCmZ2Wuc64
GieR9gWyJUZSPSvz
TIVvIE4QEXM08gSY
afdlDnnWgdJH36jf
RNKAAepTk3E7wpP1
NdiYQbUNNeoM5ujs
Y5nuvO0r5qe6D4SJ
UXpXsYJFqMDlD6Z2
Vx8pbTuo5i64qKsQ
9lsnwAhSeTtKnXu7
Njc4rAEJZMjnEv0h
sV0y2t4uVDy1FxTh
2PtVk4J41jNiDyJ1
3pfCCsTCllfbRQH5
VzvAFx4xNXN23Nv0
tfNowM1bvMTVFE2r
KZUE9Fqx579C9RIW
LcusvziTKPIjkPmL
picRCun7DQodADpc
0ZP5mC4FPI7tqYku
oqwI7y6AqPyTHY7R
NJfWDtmLntG2PLwe
2CkGz89Eo1pHLkQ6
SxBZloTZ5FpefJ1S
IKQ9hwXmPgZ5Uwmf
OV6rUJQuA2sxZmeC
GkK3HuYIy0Dv698s
tSbCgsLut7sVIYii
FhodCSAyqJqCFxqZ
ll1CtLdv3osJPszR
JrQm2InybpKVcrcW
hnVtxYd7z25DT8In
8lcLafMWcouLLicK
OSkeoAiyvMGHAz1g
jdUAgHLCzEdsuHa0
R3mt0V9EGkXTPDbd
HjCHRh9Z6pRlp2Ja
EsQuZWXuKiuhMn9w
vfnSKp7WjIyeG2Mf
5JpmulAciilRTrvL
wRtPnaPVKCEs0ivQ
A2AX0cJ7IH74roaA
KRgyiIqiXxkJpvOg
sE4Z71Q2Es7Uuemu
zbuoDbl15yl3gP4i
YPNPpSK91VhQM07m
nkAbMUHmNtxEZBIC
okSUVvLiKtDo3en0
UWNXqGiA2WJpREVQ
AEunU4akRqqJs2XN
uTUCMRVizNoJ4DTj
T0VVqRFyL9zCnJxk
ZVoHLOtSlCJtrNXY
RsTmDm1SN5BdBXAs
il71OFl3QOtmmcL7
gYsiMermy4q3HeeK
UpJFXv4ICucCJuWa
LcoO5rGiT6LDhacN
vFqhvaCXEejuE8GQ
TJ1MIUqp5kXHWZjg
xPSAvZAiV9pBkdvs
n3jYrHTkZj43YGMF
ho6PRn6qrv9KU7K6
5bazc8DpTqvF3x2X
0DwZ0sez9FwPwaRM
YYTQjsGs1Uw5ZkOK
43cqSwmpsduPmibt
JN3bzT1m1H72eXgY
ge8f8QUeCdUzAQgk
cCjwi4SxSzOvOIfk
67bX7FaVcmMIa6sU
Rp5dOe0PtbXVSY16
J71M3LnqadvyfkIT
        </div> -->
    <!-- </div>
</div> -->

<!--

.column {
    height: 100%;  /* allows both columns to span the full height of the browser window */
    display: flex;
    flex-direction: column;  /* stacks the left and right headers above the bottom content */
}

#left {
    flex-shrink: 0;  /* makes sure that content is not cut off in a smaller browser window */
}

.top-left {
	background-color: green;
    flex-shink: 0;
}

.top-right {
	background-color: yellow;
    flex-shrink: 0;
    display: flex;
}

ul {
    display: flex;
    list-style: none;
}

.bottom {
	background-color: red;
    flex-grow: 1;  /* ensures that the container will take up the full height of the parent container */
    overflow-y: auto;  /* adds scroll to this container */
}

-->