.component-container {
	width: 100%
	background: red
    min-height: 100%
}

.title-container {
	background: gray
}

.logo-container {
	background: orange
}

.sub-title-container {
	background: yellow
} 

.title, .subTitle, .subSubTitle {
	text-align:center
	color: rgb(255, 51, 153)
}

.title {
	font-size: 54px
}

.subTitle {
	font-size: 32px
}

.subSubTitle{
	font-size: 18px
}