.component-container 
	width: 100%
	background: red
    min-height: 100%

.title-container
	background: pink

.sub-title-container
	background: orange

.title, .subTitle, .subSubTitle
	text-align:center
	color: rgb(255, 51, 153)

.title 
	font-size: 54px

.subTitle 
	font-size: 32px

.subSubTitle
	font-size: 18px

/*
.title, .subTitle, .subSubTitle
    color: rgb(255, 51, 153)
    text-align: center;
    width: 100%;

.title
    font-size: 72px

.subTitle 
    font-size: 32px

.subSubTitle
    font-size: 18px;

.container {
	height: 100%;
    min-height: 100%;
	display: flex;
	flex-direction: column;
	
	.box {
		text-align: center;
		color: white;
		font-family: sans-serif;
		font-size: 36px;
		padding: 20px;
		
		display: flex
		flex-direction: column
        justify-content: center
	}
	
	.box-1 {
		height: 60px
	}
	
	.box-2 {
		flex: 1
        width: 50%
        margin: auto
	}
	
	.box-3 {
		height: 60px
	}
}
*/