/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

$my-custom-typography: mat.define-typography-config(
   $font-family: 'Work Sans'
);

@include mat.core($my-custom-typography);

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,700|Montserrat:300');

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    // color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

a:link, a:visited, a:hover, a:active {
	// color: #F5F5F5;
	text-decoration: none;
}