/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body
    height: 100%

body
    font-family: Roboto
    /*background-color: rgba(255, 51, 153, .4)*/
    margin: 0px;