/* You can add global styles to this file, and also import other style files */

//@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300');
@import url('https://fonts.googleapis.com/css?family=Lato:300,700|Prata');

html, body
    height: 100%

body
    background-color: cyan;
    height: 100%;   
    //overflow: hidden;  
    margin: 0px;  /* removes default style */
    //display: flex;  /* enables flex content for its children */
    //box-sizing: border-box;
    //overflow: hidden;
    //font-family: Roboto
    //font-family: 'Quicksand', sans-serif;
    //font-family: 'Cardo', serif;
    //font-family: 'Lora', serif;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    //background-color: rgba(255, 51, 153, .4)

h1, h2, h3, h4, h5, h6
    //font-family: 'Oswald', serif;
    //font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;